# Gebaseerd op http://stackoverflow.com/a/18225479
/GameProject/Temp
/GameProject/obj
/GameProject/library
/GameProject/Assets/test-results
/GameProject/Assets/test-results.meta
/GameProject/*.csproj
/GameProject/*.unityproj
/GameProject/*.sln
/GameProject/*_Data
/GameProject/*.exe
/GameProject/GameProject.userprefs
*.aux
*.bbl
*.blg
*.log
*.synctex
*.out
*.toc
*.ist
*.glo
GameProject/*.apk
